@import '../../styles/global.scss';
.toolkit-sorter{
  display: flex;
  &__label {
    color:$base-1;
    text-transform: uppercase;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    font-size:0.8rem;
  }
  &__select-control {
    display: inline-block;
    position: relative;
    &::after{
      @include posAbs(22px, 2px, auto, auto);
      @include square(0);
      display: inline-block;
      margin-top: -10px;
      content:'';
      border: 5px solid transparent;
      border-top: 5px solid $main;
    }
  }
  &__select{
    display: inline-block;
    height: 2rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    color:$white;
    border:0;
    background-color: $dark;
    cursor: pointer;
    font-size: 0.8rem;
    appearance: none;
    padding-right: 20px;
  }
}
