@import '../../styles/global.scss';

.edit-delete {
  @include posAbs(0, 0, auto, auto);
  display: none;
  &__open{
    @include square(32px);
    position: relative;
    top:5px;
    right:5px;
    appearance: none;
    display: inline-block;
    border:0;
    border-radius:100%;
    background-color: $base;
    cursor: pointer;
  }
  &__icon{
    @include posAbs(50%, auto, auto, 50%);
    transform:translate(-50%, -50%);
    display: inline-block;
    @include square(4px);
    background-color: $white;
    border-radius:100%;
    &::after, &::before {
      @include posAbs(-7px, auto, auto, 0);
      @include square(4px);
      content:'';
      display: inline-block;
      background-color: $white;
      border-radius:100%;
    }
    &::after{
      top: calc(100% + 3px);
    }
  }
  &__dropdown{
    @include posAbs(0, 0, auto, auto);
    width:120px;
    padding-top: 24px;
    padding-bottom: 10px;
    background-color: $dark;
    border-radius:4px;
    display: none;
    &.active{
      display: block;
    }
  }
  &__button{
    @include colored_button($white, transparent, transparent, $white, $main,$main);
    display: block;
    appearance: none;
    border:0;
    width:100%;
    padding: 10px 20px;
    text-align: left;
    cursor: pointer;
  }
  &__close{
    @include posAbs(5px, 5px, auto, auto);
      @include square(16px);
      appearance: none;
      background-color: transparent;
      border:none;
      cursor: pointer;
      i {
        @include posAbs(0, auto, auto, 0);
        display: inline-block;
        transform: rotate(45deg);
        @include square(16px);
        &::before,
        &::after {
          @include posAbs(50%, auto, auto, 50%);
          display: inline-block;
          content: '';
          background-color: $white;
          transform: translate(-50%, -50%);
        }

        &::before {
          height: 1px;
          width: 16px;
        }

        &::after {
          height: 16px;
          width: 1px;
        }
      }
  }
}
