@import 'node_modules/bootstrap-4-grid/scss/grid/bootstrap-grid.scss';
@import "node_modules/bootstrap-utilities/bootstrap-utilities";

$main: #f66251;
$base: #424242;
$base-1: #555;
$dark: #232323;
$white: #fff;




* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: $white;
    background-color: $dark;
    #root {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    } 
}