@import '../../styles/style.scss';

.film-item {
    position: relative;

    &__button {
        position: absolute;
        top:10px;
        right: 10px;
        opacity: 0;
        color: $white;
        width: 30px;
        height: 30px;
        display: inline-block;
        background-color: $base;
        border-radius: 100%;
        appearance: none;
        border:none;
        overflow: hidden;
        padding-left: 11px;
        &::after{
            display: inline-block;
            content:"...";
            transform: rotate(90deg);
            font-size: 1.5rem;            
            
        }
    }

    &:hover {
        .film-item__button {
            opacity: 1;
        }
    }

    &__image {
        width: 100%;
        min-width: 100%;
    }
}