@import '../../styles/style.scss';

.intro {
    position: relative;
    min-height: 300px;    
    overflow: hidden;
    &::before {
        position: absolute;
        content:"";
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
        background: url('../../img/background.jpg') no-repeat center;
        background-size: cover;
        filter: blur(8px);
        z-index: 0;
        opacity: 0.5;
    }
}